Unity/Raptor/Assets/Audio/
Unity/Raptor/Library/
Unity/Raptor/obj/
Unity/Raptor/Logs/
Unity/Raptor/UserSettings/
Unity/Raptor/.vs/
Unity/Raptor/.vscode/
Unity/Raptor/.collabignore
Unity/Raptor/.vsconfig
Unity/Raptor/Assembly-CSharp.csproj
Unity/Raptor/Assembly-CSharp-Editor.csproj
Unity/Raptor/Assembly-CSharp-firstpass.csproj
Unity/Raptor/Raptor.sln
AssetsLib/
Builds/